<div>
	<div>
		<span>this</span>
		<span>SHOULD not be connected</span>
	</div>
	<div>
		<a href="/posts/create">Create New Post</a>
	</div>
	<table>
		<% _.each(data,function(post){ %>
		<tr>
			<td><a href="/posts/<%=post.id %>"><%=post.title %></a></td>
			<td>
				<a href="/posts/update/<%=post.id %>">Edit</a> |
				<a href="/posts/delete/<%=post.id %>" data-id="<%=post.id %>" class="delete-post">Delete</a>
			</td>
		</tr>
		<% }); %>

	</table>
	<div>
		<a id="loop" href="#">Loop Code Multiple times</a>
	</div>
	<div>
		<a id="once" href="#">Loop Code Once</a>
	</div>
</div>
